app-sidenav{
    position: sticky;
    top: 0px;
}

app-header{
    z-index: 2;
    position: sticky;
    top: 0px;
}

#sidenav{
    width: 250px;
}

.fondoSigps{
    background-image: url('/assets/png/fondo.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}